(*-----------------------------------------------*)
(* Directories which are checked for model files *)
(*-----------------------------------------------*)

(* $sarahDir is the installation directory of SARAH and is set automatically *)

SARAH[InputDirectories]={
ToFileName[{$sarahDir, "Models"}],
"/home/$user/Documents/SARAH-Models/"
};

(*-----------------------------------------------*)
(* Directory used to write the output            *)
(*-----------------------------------------------*)


SARAH[OutputDirectory]= ToFileName[{$sarahDir, "Output"}];
(* another directory might read: SARAH[OutputDirectory]= "/home/$user/Documents/SARAH-Output/"; *)



(*------------------------------------------------------*)
(* Setting the default options for functions            *)
(*------------------------------------------------------*)


(* --------- Output of Model files ------------*)

SetOptions[MakeCHep, {FeynmanGauge -> True, CPViolation -> False, 
   ModelNr -> 1, CompHep -> False, NoSplittingWith -> {}, 
   NoSplittingOnly -> {}, UseRunningCoupling -> True, 
   SLHAinput -> True, WriteMOfile -> True, CalculateMasses -> True, 
   RunSPhenoViaCalcHep -> False, 
   IncludeEffectiveHiggsVertices -> True}]

SetOptions[MakeUFO, {Exclude -> {SSSS, GGS, GGV}, 
   IncludeEffectiveHiggsVertices -> True}]
   
SetOptions[MakeFeynArts, {Eigenstates -> FinalStates, 
   AddCounterTerms -> False}]   

SetOptions[MakeTeX, {FeynmanDiagrams -> True, 
   effectiveOperators -> False, SixParticleInteractions -> False, 
   ShortForm -> False, WriteSARAH -> False, IncludeVertices -> True}]

SetOptions[MakeWHIZARD, {WOGauge -> WO`WOUnitarity, AutoGauge -> True, 
   Exclude -> {SSSS}, WriteOmega -> True, WriteWHIZARD -> True, 
   ReadLists -> False, Version -> "2.4.0", WOModelName -> Automatic, 
   MaximalCouplingsPerFile -> 150}]

SetOptions[MakeVevacious, {ComplexParameters->{},
    IgnoreParameters->{}, OutputFile->"Vevacious.in", Scheme->"DR"}]


(* --------- SPheno Output ------------*)

SetOptions[MakeSPheno, {Eigenstates -> EWSB, TwoLoop -> True, 
   ReadLists -> False, InputFile -> "SPheno.m", 
   StandardCompiler -> "gfortran", IncludeFlavorKit -> True,
   IncludeLoopDecays -> True,Include2loopMasses->True}]


(* --------- Calculation of vertices ------------*)

SetOptions[ModelOutput, { SixParticleInteractions -> False, 
   effectiveOperators -> False, ReadLists -> False, 
   WriteTeX -> False, WriteCHep -> False,  WriteWHIZARD -> False, 
   WriteFeynArts -> False, WriteUFO -> False, 
   FeynmanDiagrams -> True, IncludeLoopCorrections -> False, 
   IncludeRGEs -> False, TwoLoopRGEs -> True, 
   VerticesForLoops -> False, SimplifySums -> True, 
   IncludeVertices -> True, Eigenstates -> Automatic }]

SetOptions[MakeVertexList, { SixParticleInteractions -> False, 
   effectiveOperators -> False, VerticesForLoops -> False, 
   GenericClasses -> All, SimplifySums -> True}]

SetOptions[MakeAll, {ReadLists -> False, IncludeSPheno -> True, 
   IncludeFeynArts -> True, IncludeCalcHep -> True, 
   IncludeTeX -> True, IncludeWHIZARD -> True, IncludeUFO -> True, 
   Eigenstates -> Automatic}]

(* --------- Calculation of RGEs ------------*)

SetOptions[CalcRGEs, {TwoLoop -> True, ReadLists -> False, 
   VariableGenerations -> {}, NoMatrixMultiplication -> False, 
   SimplifyExpressions -> True, ForceMatMul -> False, 
   IgnoreAt2Loop -> {}, WriteFunctionsToRun -> True,
   ComplexScalarCouplings->True}]

(* ------ Effective scalar couplings ---------*)

Options[EFTcoupNLO] = {
    ExcludeFields->{},
    InternalPatterns->{},
    Topologies -> {},
    ExcludeTopologies -> {OffdiagonalWFRs},
    Debug-> False,
    Caching-> True,
    LoopReplace-> AnalyticLoopFunctions,
    IncludeTreeLevel -> True,
    ShiftMSDR -> Automatic,
    LoopFactor -> 1/(4Pi)^2,
    GaugeThresholds -> True,
    ShowProgress -> True,
    SimplifyResults->True
};

Options[EFTcoupLO] = {
    ExcludeFields->{},
    Debug-> False,
    SimplifyResults->True
};

Options[InitMatching] = {
    ReadLists -> False,
    Parametrisation -> {},
    Assumptions -> {}, 
    SolveTadpoles -> {}, 
    InputFile -> False
};
